[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = zeus

[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = zeus
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi.git
	branch = zeus
